.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

.card {
  min-height: 400px;
  padding: 10 px;
  margin: 5px;
  width: 180px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  scale: 105%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-book-text-container {
  text-align: left;
  padding: 10px;
}

.card-book-text-container p,
card-book-text-container p:hover,
card-book-text-container p:focus,
card-book-text-container p:active {
  color: black;
  text-decoration: none !important;
}

.card-book-name {
  word-wrap: break-word;
  font-weight: bold;
  font-size: 16px;
}

.card-book-page {
  font-size: 14px;
}

.card-book-rating {
  font-size: 14px;
}

.card-book-language {
  font-size: 12px;
}

.book-thumbnail {
  margin-bottom: 10px;
  margin-top: 10px;
}

.book-smallthumbnail {
  padding: 10px;
}

.card-with-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}
