.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background: #faf87d;
    border: 4px ridge #3d7dca;
    padding: 10 px;
    border-radius: 5%;
    width: 15%;
    height: 350px;
    display: block;
    margin: 20px;
}

.book-smallthumbnail {
    padding: 10px;
}