.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
  max-width: 1400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.introduction {
  width: 700px;
  line-height: 30px;
}